/* global setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px;
}

/* Navigation*/
/* #082032
#fff */
#navbar {
  background: #082032;
  overflow: auto;
  color: #0bb02c;
}

#navbar a {
  color: #fff;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}
/* #334756 
#ff4c29*/
#navbar ul li a:hover {
  background: #334756;
  color: #ff4c29;
}
#navbar ul li a.active {
  background: #0bb02c;
}

/* container */
.container {
  margin: auto;
  max-width: 1000px;
  overflow: auto;
  padding: 0 20px;
}

/* hero section */
#hero {
  background: url("../image/765090-most-popular-technology-background-images-1920x1080-hd-for-mobile.jpg")
    no-repeat center center/cover;
  height: 600px;
}
#hero .hero-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}
#hero .hero-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
.primary-text {
  color: #f0f0cb;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #a8a319;
  padding: 13px 20px;
  border: none;
}
